@model LoginUser;
<form asp-action="Login" asp-controller="Home" method="post" class="col">
    <h1>Login</h1>
    <div class="mb-3 form-floating">
        <input type="email" class="form-control" asp-for="LoginEmail" placeholder="email">
        <label asp-for="LoginEmail" class="form-label"></label>
        <span asp-validation-for="LoginEmail" class="text-danger"></span>
    </div>
    <div class="mb-3 form-floating">
        <input type="password" class="form-control" asp-for="LoginPassword" placeholder="password">
        <label asp-for="LoginPassword" class="form-label"></label>
        <span asp-validation-for="LoginPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>